@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    box-sizing: border-box;
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
    overflow: hidden;
}

.main {
    margin-left: 200px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Sidebar Styles */

.sidebar h2 {
    color: #eee;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-size: 22px;
}

.sidebar h3 {
    color: #eee;
    margin: 10px 25px;
    font-size: 20px;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: auto;
}


.logout-settings {
    margin: 0 0 50px 0 auto;
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 15px;
}

.logout-settings button {
    width: 70px;
    margin: 5px;

    background: #0576b9;
    color: #ffffff;
    border: 1px solid #0576b9;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}



.logout-settings button:hover{
    background: #fff;
    color: #0576b9;
    border: 1px solid #0576b9;
    cursor: pointer;
}








/* Chat Rooms in sidebar */

#chatRooms {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 50px;
}

#chatRooms li {
    list-style-type: none;
    display: block;
    text-decoration: none;
    color: #aaa;
    margin: 0;
    border: none;
    padding: 5px 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    cursor: pointer;
}


#chatRooms li:hover {
    background-color: #eee;
    color: #000;
}

#chatRooms li.current {
    background-color: #0576b9;
    color: #FFFFFF;
}


.chatRoom-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.chatRoom-content.current{
    display: inherit;
}



/* Online users in sidebar */

#usersStatus {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

#usersStatus li {
    list-style-type: none;
    display: block;
    text-decoration: none;
    color: #aaa;
    margin: 0;
    border: none;
    padding: 5px 25px;
}


/* Main Chat Window */

#generalChat, #socialChat, #workChat {
    padding: 15px 30px;
    margin-bottom: 60px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

/* Chat Window Messages */

.chatMsgContainer {
    margin-bottom: 30px;
}

.ownMsgColor {
    color: #0576b9;
}

.userImage {
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 1px;
}

.userImage img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.userName {
    color: #434651;
    font-weight: bold;
}

.userNameSelf {
    color: lightgreen!important;
}

.timeStamp {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 14px;
}

.chatMessage {
    padding: 0;
    margin: 0;
}


/* Send Message Input at Bottom of Page */

#bottom  {
    width: 100vw;
    height: 40px;
    background-color: #eee;
    bottom: 0;
    padding: 15px 30px;
    position: fixed;
    z-index: 1;
}

#bottom input {
    display: inline-block;
    background: #ffffff;
    color: #777777;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: calc(85% - 200px);
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    padding-right: 50px;
}

#bottom button {
    background: #0576b9;
    color: #ffffff;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-left: -50px;
    cursor: pointer;
}


#login-container, #chat-container {
    display: none;
}

/* Signup and Login Styles */

#login-container, #signup-container {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 25px;
}

#login-container input, #signup-container input {
    display: block;
    background: #ffffff;
    color: #777777;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

#login-container input:focus, #signup-container input:focus {
    border: 1px solid #777;
}

#login-container button, #signup-container button {
    display: block;
    background: #5d8ffc;
    color: #ffffff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-bottom: 15px;
}

#login-container button:hover, #signup-container button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}



/* Signup Avatar styles */

#avatar-picker {
    margin: 20px auto;
    padding: 0;
    display: flex;
    width: 100%;
}

#avatar-picker img {
    width: 70px;
    margin: 0;
    padding: 0;
}

#avatar-picker li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid transparent;
    border-radius: 7px;
    //width: 76.8px;
    flex: 1;
    height: 75px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

#avatar-picker li.active {
    border: 2px solid #366de2;
}





/* Settings Styles */

#settings-container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 25px;
}
